.react-flow {
    --bg-color: white;
    --text-color: rgb(55, 56, 58);
    --node-border-radius: 10px;
    --bypass-color: rgb(204, 204, 204);
    // --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3), -10px 0 15px rgba(233, 42, 103, 0.3);
    // background-color: var(--bg-color);
    color: var(--text-color);

    .updatenode__controls {
        display: flex;
        flex-direction: column;
    }
}

.react-flow__node-custom {
    border-radius: var(--node-border-radius);
    display: flex;
    width: 150px;
    font-family: 'Fira Mono', Monospace;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.2px;

    .icon {
        display: inline;
        margin-right: 8px;
    }

    .body {
        display: flex;
    }

    // .gate {
    //     .react-flow__handle-top {
    //         left: 50%;
    //         top: -4px;
    //         transform: translate(-50%);
    //     }

    //     .react-flow__handle-right {
    //         right: -4px;
    //         top: 50%;
    //         transform: translateY(-50%);
    //     }

    //     .react-flow__handle-bottom {
    //         top: auto;
    //         left: 50%;
    //         bottom: -4px;
    //         transform: translate(-50%);
    //     }

    //     .react-flow__handle-left {
    //         top: 50%;
    //         left: -4px;
    //         transform: translateY(-50%);
    //     }

    //     .label {
    //         position: absolute;
    //         top: 0;
    //         right: 0;
    //         bottom: 0;
    //         left: 0;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         padding: 0 2rem;
    //         text-align: center;
    //     }
    // }
}

.react-flow__node-custom .wrapper {
    // overflow: hidden;
    display: flex;
    justify-content: center;
    // padding: 2px;
    position: relative;
    border-radius: var(--node-border-radius);
    flex-grow: 1;

    .lead-time {
        border-radius: 100%;
        width: 25px;
        height: 25px;
        right: 0;
        position: absolute;
        bottom: 0;
        transform: translate(50%, 50%);
        display: flex;
        transform-origin: center center;
        padding: 2px;
        overflow: hidden;
        z-index: 1;

        div {
            background-color: #777;
            color: white;
            flex-grow: 1;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    }

    &.skip {
        .inner {
            border-color: var(--bypass-color);
            color: var(--bypass-color)
        }

        // .lead-time>div {
        //     background-color: #ccc;
        // }
    }

    .inner {
        background: var(--bg-color);
        padding: 8px;
        border: 1px solid #1a192b;
        border-radius: var(--node-border-radius);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 1;
        position: relative;

        &::after {
            content: attr(data-label);
        }

        &.gate {
            background-color: cornsilk;
        }

        &.wait {
            border-radius: 50%;
            max-width: 50px;
            width: 50px;
            height: 50px;
            outline: 1px dashed #1a192b;
            outline-offset: -4px;

            &::after {
                content: "Wait";
            }
        }

        &.has-subflow {
            outline: 1px solid #1a192b;
            outline-offset: -4px;
        }
    }
}

.react-flow__node:focus {
    outline: none;
}

// .react-flow__edge .react-flow__edge-path {
//     stroke: url(#edge-gradient);
//     stroke-width: 2;
//     stroke-opacity: 0.75;
// }

.react-flow__controls button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-bottom: none;
}

.react-flow__controls button:hover {
    background-color: rgb(37, 37, 37);
}

.react-flow__controls button:first-child {
    border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
    border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
    fill: var(--text-color);
}

.react-flow__attribution {
    background: rgba(200, 200, 200, 0.2);
}

.react-flow__attribution a {}