/* This CSS is common to all pages */
body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
}

.navitem.is-active {
  background-color: #eee;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.button {
  height: 36px;
  color: white;
  background-color: #3750A1 !important;
  border-radius: 8px;
  border-style: none;
  padding: 0 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}